services:
  fairvalue:
    build: .
    container_name: fairvalue
    volumes:
      - .:/app
      - ./pb_data:/pb_data
    ports:
      - "23000:3000" # Next.js
      - "28090:8090" # Pocketbase
    environment:
      # For client-side, we need to know the public URL of PB
      - NEXT_PUBLIC_POCKETBASE_URL=/pb
      # For server-side, we can use localhost since they are in the same container now
      - POCKETBASE_INTERNAL_URL=http://127.0.0.1:8090
      # Admin credentials for server-side authentication
      - PB_ADMIN_EMAIL=admin@fairvalue.app
      - PB_ADMIN_PASSWORD=1234567890
